.searchFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputSearch {
  width: 75%;
  padding: 0.7em;
  font-size: 1em;
  margin: 10px;
  border-radius: 1px;
  border: none;
  box-shadow: var(--box-shadow);
  height: 40px;
  box-sizing: border-box;
}

.searchButton {
  border: none;
  width: 10%;
  height: 40px;
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  font-size: 1em;
  margin: 10px 0 10px 10px;
  color: var(--title-text);
}