@media (min-width: 576px) { 
  .mainContainer {
    width: 576px;
  }
}

@media (min-width: 768px) {
  .mainContainer {
    width: 768px;
  }
}

@media (min-width: 992px) { 
  .mainContainer {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    width: 1200px;
  }
}

.mainContainer {
  margin: 0 auto;
}
